/**HTML styles */

html {
	margin-left:100px;
	margin-right:100px;
	font-family: 'Poppins', sans-serif;
	background-color:#b3c8ff;
	color:#40020a;

}

/**Body Styles */
body{
	font-size:21px;
	background-color:#c9feff;

}

main {
	padding-left:30px;
	padding-top:5px;
	padding-right:30px;
	padding-bottom:5px;
	background-color:#c9feff;
}

/**Header Styles */

header  {
	text-align:center;
	background-color:#b3c8ff;
}

header h1 {
	line-height:13px;
}

#logo {
	float:left;

}

#clock {
	font-size: 45px;
	width: 100%;
	height:5px;
	text-align:right;
 }
 
 /**Main Styles */
 main h2 {
	text-align:center;
}

main h3 {
	text-align:center;
}

section {
	  margin-left: auto;
	  margin-right: auto;
	  margin-bottom:30px;
	  margin-top:30px;
	  text-align:left;
	  background-color:#fdebff;
	  line-height:30px;
	  padding:10px;
	  width:auto;
	  height:auto; 
}
	
img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

figcaption {
	font-style:italic;
	text-align:center;
}

/**Footer Styles */
footer {
	text-align:center;
	background-color: #b3c8ff;
	color:#40020a;
}

footer img{
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
	padding-top:8px;
}

/* Style the links inside the nav bar */
nav {
  overflow: hidden;
}

 nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  position:relative;

}

footer nav ul a {
  color:#40020a;
  float: left;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  font-size: 15px;
}

nav ul a {
  color:#40020a;
  float: left;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 15px;
}

/* Change the color of links while hovering over them */
 nav ul a:hover {
  background-color:#fdebff;
  color:#40020a;
  
}

/* Add a color to the current link */
 nav ul a.active {
  color: #40020a;
}

/*Style relating to the sweet paradise crud website */
#regForm {
  background-color: #fdebff;
  margin: 30px auto;
  width: 80%;
  min-width: 300px;
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}
input[type = "button"], input[type = "reset"] {
  background-color: #b3c8ff;
  color: #40020a;
  border: none;
  font-size: 17px;
  cursor: pointer;
  height:45px;
  width:100px;

}

input[type = "submit"] {
  display: block;
  background-color: #b3c8ff;
  color: #40020a;
  border: none;
  font-size: 17px;
  cursor: pointer;
  height:45px;
  margin:0px auto;
}

input[type = "button"]:hover {
  opacity: 0.8;
}

.error {
  width: 600px; 
  margin: 0px auto; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: center;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}

.logout-text{
  width:85px;
  height:85px;
  border-radius:100px;
  background-color: #b3c8ff;
  text-align:center;
}

.logout-text a{
    text-decoration: none;
    position:relative;
    top:28px;
    color: #40020a;
  }

/*Divider for multiple Sweet Paradise Bake Off submissions*/

.divider {
  margin:64px auto;
  width:400px; 
  max-width: 100%;
  position:relative;
}

.dividermask { 
    overflow:hidden; height:20px; 
}

.dividermask:after { 
      content:''; 
      display:block; margin:-25px auto 0;
      width:100%; height:25px;  
        border-radius:125px / 12px;
       box-shadow:0 0 8px #b3c8ff;
}
.divider span {
    width:50px; height:50px; 
    position:absolute; 
    bottom:100%; margin-bottom:-25px;
    left:50%; margin-left:-25px;
    border-radius:100%;
   box-shadow:0 2px 4px #b3c8ff;
    background:#b3c8ff;
}
.divider i {
    position:absolute;
    top:4px; bottom:4px;
    left:4px; right:4px;
    border-radius:100%;
    border:1px dashed #fdebff;
    text-align:center;
    line-height:40px;
    font-style:normal;
}

button {
  background-color: #b3c8ff;
  color: #40020a;
  border: none;
  font-size: 17px;
  cursor: pointer;
  height:45px;
  width:100px;
  margin-top:10px;
}

button:hover {
  opacity: 0.8;
}
