/**HTML styles */

html {
	margin-left:100px;
	margin-right:100px;
	font-family: 'Poppins', sans-serif;
	background-color:#b3c8ff;
	color:#40020a;

}

/**Body Styles */
body{
	font-size:21px;
	background-color:#c9feff;
	
}

/**Grid Styles */
.wrapper {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas: 
		'header'
		'main'
		'footer';
}

header {
	grid-area: header;
	background-color:#b3c8ff;
}

main {
	grid-area: main;
	
}


.items-contents {
	padding-left:30px;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:5px;
	position:relative;
	bottom:41px;
	background-color:#c9feff;
}


footer {
	grid-area: footer;
}


/**Header Styles */

header h1 {
	text-align:center;
}


#logo {
	float:left;

}

#clock {
	font-size: 53px;
	width: 100%;
	height:10%;
	text-align:right;
	
	
 }
 
 /**Main Styles */
 main h2 {
	text-align:center;
}

#brandInfo{
	  margin: auto;
	  text-align:left;
	  background-color:#fdebff;
	  line-height:30px;
	  padding:10px;
	  padding-bottom:0px;
}
	
	
img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

figcaption {
	font-style:italic;
	text-align:center;
}

/**Footer Styles */
footer {
	text-align:center;
	background-color: #b3c8ff;
	color:#40020a;
}

footer .column {
	display:inline-block;
	padding:0px;
	padding-top:10px;
 
}

footer img{
	padding-right:0px;
 
}

 nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  position:relative;

}


.links {
  overflow: hidden;
}

/* Style the links inside the nav bar */
 .links a {
  color:#40020a;
  float: left;
  text-align: center;
  padding: 10px 40px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links while hovering over them */
 .links a:hover {
  background-color:#fdebff;
  
  
}

a:hover {
  color:#40020a;
  
}

/* Add a color to the current link */
 .links a.active {
  color: #40020a;
}

