body
{
	color:#2123fc;
	background-color:#c9feff;
	font-family:Garamond;
	font-size:21px;
	
}
img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div.caption{
  text-align: center;
}

footer
{
	text-align:center;
}

h1
{
	color: #2123fc;
	text-align:center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* black background color to the top navigation */
.links {
  background-color: #cbcbd6;
  overflow: hidden;
}

/* Style the links inside the nav bar */
.links a {
  float: left;
  color: #4279bd;
  text-align: center;
  padding: 10px 45px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links while hovering over them */
.links a:hover {
  background-color: #ddd;
  
}

/* Add a color to the current link */
.links a.active {
  background-color: #ad1079;
  color: #731d38;
}